body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 1000px;
}

a.clean-link {
    :link {
        text-decoration:none;
        color: #111;
    }
    :visited {
        text-decoration:none;
        color: inherit;
    }
    :hover {
        text-decoration:underline;
        /*color: inherit;*/
        color: #0099ff;
    }
    :active {
        text-decoration:underline;
        color: inherit;
    }
}

a {
    :link {
        text-decoration:underline;
        /*color: inherit;*/
        color: #0099ff;
    }
    :visited {
        text-decoration:none;
        color: #0099ff;
    }
    :hover {
        text-decoration:underline;
        color: #111;
    }
    :active {
        text-decoration:underline;
        color: inherit;
    }
}


#header {
    float:left;
    width:1000px;
    height:75px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    padding: 5px 0px 0px 0px;

    #logo {
        background-image: url('/images/logos/logo-greyscale2.png');
        display:block;
        width:307px;
        height:75px;
        float: left;
        
        :hover {
            background-image: url('/images/logos/logo2-smaller.png');
        }
    }

    .header-icon {
        float:right;
        margin-top: 7px;
        margin-left:10px;
    }


    #navigation {
        text-align: right;
     
        a {
            color: black;
            font-size: 18px;
            font-weight: bold;
            margin-left: 12px;
            text-decoration: none;
            text-transform: uppercase;

            :hover {
                 color: #0099ff;
            }
        }
    } 
}

.haskell-smaller {
    background-image: url('/images/haskell-logo-smaller.png');
    display:block;
    width:50px;
    height:35px;
    float: left;

    :hover {
        background-image: url('/images/haskell-logo-smaller-color.png');
    }
}

.github-smaller {
    background-image: url('/images/github-smaller-greyscale.png');
    display:block;
    width:35px;
    height:35px;
    float: left;

    :hover {
        background-image: url('/images/github-smaller.png');
    }
}

.datarank-small {
    background-image: url('/images/datarank_logo_blue_small_greyscale.png');
    display:block;
    width:158px;
    height:35px;
    float: left;

    :hover {
        background-image: url('/images/datarank_logo_blue_small.png');
    }
}

#content {
    width:1000px;

    .left-column {
        float:left;
        width:700px;
    }

    .right-column {
        float:left;
        width:300px;

        #sociallinks {
            float:left;
            width:300px;
        }

    }

}



.social {
    display: inline-block;
      position: relative;
    width: 210px;
    padding: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: rgba(231, 231, 231, 0.6);
    box-shadow: 8px 8px 0 0px rgba(0, 0, 0, 0.25);

}


$navColor: #111;
$border: 35px;
nav.social-bar {
      padding-left: 30px;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline;

            a {
                text-decoration:none;
            }

            a:hover {
               opacity: 0.7;
               text-decoration: none;
            }

            a.github {
                border-left: $border solid $navColor;
                color: $navColor;

                :hover {
                    border-left: $border solid #4183c4;
                    color: #4183c4;
                }
            }

            a.linkedin {
                border-left: $border solid $navColor + #111;
                color: $navColor + #111;

                :hover {
                    border-left: $border solid #34526f;
                    color: #34526f;
                }
            }

            a.facebook {
                border-left: $border solid $navColor + #222;
                color: $navColor + #222;

                :hover {
                    border-left: $border solid #365998;
                    color: #365998;
                }
            }

            a.weibo {
                border-left: $border solid $navColor + #333;
                color: $navColor + #333;

                :hover {
                    border-left: $border solid #db4a39;
                    color: #db4a39;
                }
            }

            a.twitter {
                border-left: $border solid $navColor + #444;
                color: $navColor + #444;

                :hover {
                    border-left: $border solid #00a0d1;
                    color: #00a0d1;
                }
            }

            a.stackoverflow {
                border-left: $border solid $navColor + #555;
                color: $navColor + #555;

                :hover {
                    border-left: $border solid #FF9900;
                    color: #FF9900;
                }
            }

            a.costumedb {
                border-left: $border solid $navColor + #666;
                color: $navColor + #666;

                :hover {
                    border-left: $border solid #a34d40;
                    color: #a34d40;
                }
            }

            a.tags {
                border-left: $border solid $navColor + #777;
                color: $navColor + #777;

                :hover {
                    border-left: $border solid #634d40;
                    color: #634d40;
                }
            }
        }
    }
}

.social-share {
    float: left;
    width: 100%;
    height:40px;
    margin-bottom: 5px;
    margin-left: 27px;

    .facebook, .twitter, .reddit, .linkedin, .delicious, .digg, .rss {
        float: left;
        display:block;
        background: url(/images/socialicons/vintage/social-share-small.png) no-repeat;
        margin-right: 8px;
    }

    .facebook {
        background-position: 0 -32px;
        width: 32px;
        height: 32px;

        :hover {
            background-position: 0 0;
        }
    }

    .twitter {
        background-position: -32px -32px;
        width: 32px;
        height: 32px;

        :hover {
            background-position: -32px 0;
        }
    }

    .linkedin {
        background-position: -64px -32px;
        width: 32px;
        height: 32px;

        :hover {
            background-position: -64px 0;
        }
    }

    .reddit {
        background-position: -96px -32px;
        width: 32px;
        height: 32px;

        :hover {
            background-position: -96px 0;
        }
    }

    .digg {
        background-position: -128px -32px;
        width: 32px;
        height: 32px;

        :hover {
            background-position: -128px 0;
        }
    }

    .delicious {
        background-position: -160px -32px;
        width: 32px;
        height: 32px;

        :hover {
            background-position: -160px 0;
        }
    }

    .rss {
        background-position: -192px -32px;
        width: 32px;
        height: 32px;

        :hover {
            background-position: -192px 0;
        }
    }

}


.post-date {
    font-size: 10px;
    color: #555;
    font-style: italic;
}

#footer {
    float: left;
    width: 1000px;
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
