<br/>
<div style="color:green; font-weight:bold; font-size:70px;">$<span id="value">Loading...</span></div>
<br/>

<script type="text/javascript">
function numberWithCommas(x) {
  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

$(document).ready(function() {
  let url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=SPT&interval=30min&apikey=9XDUGYY9Y9GQ5LL4';
  $.getJSON(url, function(data) {
    let series = data['Time Series (30min)'];
    let latestKey = Object.keys(series)[0];
    let latest = series[latestKey];
    let closingValue = Math.floor(latest['4. close']);
    $("#value").text(numberWithCommas(closingValue * 21667));
  });
});
</script>
