<div style="color:green; font-weight:bold; font-size:70px; margin-top: 20px;">$<span id="value">Loading...</span></div>

<script type="text/javascript">
function numberWithCommas(x) {
  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

$(document).ready(function() {
  var url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=SPT&interval=30min&apikey=9XDUGYY9Y9GQ5LL4';
  $.getJSON(url, function(data) {
    var series = data['Time Series (30min)'];
    var latestKey = Object.keys(series)[0];
    var latest = series[latestKey];
    var closingValue = 1 * latest['4. close'];
    $("#value").text(numberWithCommas(closingValue * 20000));
  });
});
</script>
