a {
  text-decoration: none;
}

a :link {
  text-decoration: none;
}
a :visited {
  text-decoration: none;
}
a :hover {
  text-decoration: underline;
}
a :active {
  text-decoration: underline;
}

header {
  margin-top: 10px;
  margin-bottom: 20px;
}

.post-date {
  font-size: 10px;
}

p {
  font-size: 18px;
}

.logo {
  background-image: url("/images/logos/kennycason-logo.png");
  background-position: 0px 0px;
  margin-left:-30px;
  display: block;
  width: 420px;
  height: 75px;
  float: left;
}

.logo :hover {
  background-position: 0px -75px;
}

.datarank-small {
  background-image: url("/images/datarank-main.png");
  background-position: 0px 0px;
  display: block;
  width: 158px;
  height: 35px;
  float: left;
}
.datarank-small :hover {
  background-position: 0px -35px;
}

.game-list {

}

.dont-have-key {
  background-color: #FFE0E0;
  border: 1px;
  margin-left: 10px;
}

.have-key {
  background-color: #ADDEBE;
  border: 1px;
  margin-left: 10px;
}

.game-list .dont-have {
  background-color: #FFE0E0;
  display: block;
}

.game-list .have {
  background-color: #ADDEBE;
  display: block;
}

.game-list .letter {
  font-size: 24px;
  font-weight: bold;
}

.book-list .dont-have {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

th, td {
   border: 1px solid;
}

body {
   /*font-family: sans-serif;*/
   line-height: 1.35rem;
   font-size: 1.25rem;
}
