<div class="search-bar"> 
    <input id="search" type="text" value="search"/>
</div>


<div class="social-share"> 
    <a class="facebook" href="http://www.facebook.com/sharer/sharer.php?u=http://kennycason.com$url$" target="_blank"></a>
    <a class="twitter" href="https://twitter.com/home?status=http://kennycason.com$url$" target="_blank"></a>
    <a class="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=http://kennycason.com$url$" target="_blank"></a>
    <a class="reddit" href="http://reddit.com/submit?url=http://kennycason.com$url$" target="_blank"></a>
    <a class="digg" href="http://digg.com/submit?url=http://kennycason.com$url$" target="_blank"></a>
    <a class="delicious" href="http://del.icio.us/post?url=http://kennycason.com$url$" target="_blank"></a>
    <a class="rss" href="/rss.xml"></a>
</div>

  <nav class="social-bar">
    Social Links<br/>
    <ul>
      <li><a class="social github" target="_new" href="https://github.com/kennycason">Github</a></li>
      <li><a class="social linkedin" target="_new" href="http://www.linkedin.com/profile/view?id=28727043">LinkedIn</a></li>
      <li><a class="social facebook" target="_new" href="https://www.facebook.com/kenny.cason">Facebook</a></li>
      <li><a class="social weibo" target="_new" href="http://www.weibo.com/kennycason/">微博</a></li>
      <li><a class="social twitter" target="_new" href="https://twitter.com/kenny_cason">Twitter</a></li>
      <li><a class="social stackoverflow" target="_new" href="http://stackoverflow.com/users/403682/kenny-cason">StackOverflow</a></li>
    </ul>
  </nav>
  <nav class="social-bar">
        Projects<br/>
    <ul>
      <li><a class="social costumedb" target="_new" href="http://www.costumedb.com/">CostumeDB</a></li>
      <li><a class="social randomizly" target="_new" href="http://www.randomizly.com/">Randomizly</a></li>
    </ul>
  </nav>
  <nav class="social-bar">
    Misc<br/>
    <ul>
      <li><a class="social collection" href="/collection.html">Gaming Collection</a></li>
      <li><a class="social tags" href="/tags.html">Tags</a></li>
    </ul>
  </nav>

