  <nav class="social-bar">
    <ul>
      <li><a class="social github" target="_new" href="https://github.com/kennycason">Github</a></li>
      <li><a class="social linkedin" target="_new" href="http://www.linkedin.com/profile/view?id=28727043">LinkedIn</a></li>
      <li><a class="social facebook" target="_new" href="https://www.facebook.com/kenny.cason">Facebook</a></li>
      <li><a class="social weibo" target="_new" href="http://www.weibo.com/kennycason/">微博</a></li>
      <li><a class="social twitter" target="_new" href="https://twitter.com/kenny_cason">Twitter</a></li>
      <li><a class="social tags" href="/tags.html">Tag Cloud</a></li>
    </ul>
  </nav>

<!--   $if(tagcloud)$
  $tagcloud$
  $endif$ -->